html,body {
    height: 100vh;
    width: 100vw;
}

.container {
    height:100%;
    width: 100%;
    display: flex;

}

.pretty{
    background-image: url(imgs/Space.jpg);
    width: 37%;
    height: 100%;
}

.logo {
    background-color: black;
    opacity: 0.3;
    color: aliceblue;
    position: relative;
    width: 100%;
    height: 15%;
    top: 20.05vh;
}

.info{
    width: 63%;
}

.top-text {
    background-color:darkslateblue;
    height: 35vh;
}

.text{
    position: relative;
    top: 40%;
    padding: 0 40px 10px 50px;
    max-width: 70%;
}

.form-info {
    background-color:slateblue;
    min-height: 30vh;
    display: flex;
}

.lower {
    background-color: darkslateblue;
    height: 35vh;
}

legend {
    padding: 20px 0 20px 40px;
}

fieldset {
    height: 85%;
    width: 100%;
    border: none;
}

input, label{
    display: block;
}

input {
    width: 200px;
    margin-bottom: 20px;
}

.inputs{
    padding-left: 40px;
    min-width: 85%;
}